<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jason_jukes.laihuo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.home.MessageMarketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.SendCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.MineFocusListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.BindCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.AddressManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.PhoneCertificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.mine.MineScoreActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.mine.MinePostWorkActivity" />
        <activity android:name=".activity.mine.MinePartWorkActivity" />
        <activity android:name=".activity.mine.MineInvistWorkActivity" />
        <activity android:name=".activity.mine.MineWalletActivity" />
        <activity android:name=".activity.mine.MineQualificationActivity" />
        <activity android:name=".activity.mine.FeedbackActivity" />

    </application>

</manifest>